@import '../../../../../styles/base/_variables.scss';

.detail-header-image{
    background: #fafafa;
    border-radius: 0px;
    &.enhancers{
        background:$color3;
        border:1px solid $color3;
    }
    &.constraints{
        background:$color4;
        border:1px solid $color4;
    }
    &.incentives{
        background:$color2;
        border:1px solid $color2;
    }
    &.mbg{
        background:#00BCD4;
        border:1px solid #00BCD4
    }
}
blockquote{
    height:300px;
    background: #fafafa;
    border:1px solid rgba(0,0,0,.12);
    overflow: auto;
    padding: 10px;
    margin-bottom: 15px;
    pre{
        height: 100%;
        code{
            height:100%;
            word-wrap: break-word;
            white-space: pre-wrap;
            margin:0;
        }
    }
}