mat-form-field
	input('matInput'="",placeholder="Switch name",'required'="")
mat-form-field
	mat-select('matInput'="",placeholder="Select switch type", name="switchTypes",(change)="onSwitchTypeChange($event)",'required'="")
		mat-option(*ngFor="let type of switchTypes", [value]="type.value")
			| {{ type.viewValue }}
mat-form-field
	mat-select('matInput'="",placeholder="Select attribute", name="attributeTypes",(change)="onAttributeTypeChange($event)",'required'="")
		mat-option(*ngFor="let type of attributeTypes", [value]="type.value")
			| {{ type.viewValue }}
mat-form-field
	input('matInput'="",placeholder="Default value",'required'="")