//- header.mat-elevation-z6(fxLayout="row",fxLayoutAlign="start center")
//-     .brand(fxLayout="row",fxLayoutAlign="start center",(click)="navigateHome()")
//-         img(src="./assets/images/ola-full.svg",width="auto",height="24")
//-         h3 OLA Tourist
//- .components(fxLayout="row",fxLayoutAlign="space-around center")